# This file is used by pip to install required python packages
# Usage: pip install -r requirements.txt

# Flask Framework
Flask==2.0.3
Click==7.1.2
gunicorn==20.1.0
itsdangerous==2.0
Jinja2==3.0
Werkzeug==2.0
