html, body {
    margin: 0;
    padding: 0;
}

header {
    background-color: #333333;
    position: fixed;
    width: 100%;
    z-index: 10;
    text-align: right;
    height: 100px;
}

nav {
    margin-right: 20px;
    padding: 20px 0;
    text-align: right;
}

nav li {
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 13px;
    display: inline-block;
    padding: 0px 15px;
    text-decoration: none;
}

nav li a {
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    text-decoration: none;
}

.navbar {
    overflow: hidden;
    background-color: #333;
}
  
.navbar .logo img{
  height: 73px;
  width: 135px;
  float: left;
  margin-top:15px;
  margin-left: 30px;
  left: 40px;
}
  
.navbar .floatright {
    float: right;
    margin-right: 25px;
    padding-top: 25px;
}
  
.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 17px;
    text-decoration: none;
    font-weight: 600;
    font-family: "Raleway", sans-serif;
}

main {
    text-align: center;
    position: relative;
    top: 80px;
}

main h1 {
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 70px;
    margin-top: 0px;
    padding-top: 150px;
    text-transform: uppercase;
    line-height: 95px;
    position: relative;
    top: 80px; 
}



.articlecontainer {
    min-height: 900px;
    margin: auto;
    text-align: center;
    display:flex;
    justify-content:space-around;
    align-items: center;
    align-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
    position: relative;
    top:75px;
}
  
.jumbotron {
    height: 600px;
    background-image: url("/static/images/supportjumbotronimage3.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
}


.btn-default {
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 10px;
    letter-spacing: 1.3px;
    padding: 10px 20px;
    text-decoration: none;
    text-transform: uppercase;
    margin-bottom: 20px;
}
  
.articlecontainer .articlebox {
    font-family: "Raleway", sans-serif;
    text-align: center;
    min-height: 250px;
    max-width: 600px;
    flex: 1 1 225px;
    margin:35px;
    border: medium solid black;
}
  
.articlecontainer img {
    max-height: 300px;
    border-radius: 10px;
    margin-top: 15px;
}
 
.articlecontainer h2 {
    font-weight: 500;
    font-size: 25px;
    text-transform: uppercase;
    color: #333;
}

.articlecontainer h3 {
    font-weight: 400;
    font-size: 20px;
    color: #333;
}

.articlecontainer p {
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    padding: 0 20px;
    margin-bottom: 20px;
    color: #333;
}
  
.articlecontainer a {
    background-color: white;
    color: #333333;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 1.3px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid #333333;
}

.topnav {
    background-color: #333;
    overflow: hidden;
  }
  
  
  body .floatright {
    float:right;
  }
  
  
  .topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
  }
  
  
  .active {
    color: white;
  }
  
  
  .topnav .icon {
    display: none;
  }
  
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  
  .dropdown .dropbtn {
    font-size: 17px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
  }
 
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
  }
  
  
  .topnav a:hover, .dropdown:hover .dropbtn {
    background-color: #555;
    color: white;
  }
  
  
  .dropdown-content a:hover {
    background-color: #ddd;
    color: black;
  }
  
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  
@media screen and (max-width: 720px) {
    .topnav a:any-link, .dropdown .dropbtn {
        display: none;
    }
    
    .topnav a.icon {
      float: right;
      display: block;
    }
}
  
  
@media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    .topnav.responsive .dropdown {float: none;}
    .topnav.responsive .dropdown-content {position: relative;}
    .topnav.responsive .dropdown .dropbtn {
      display: block;
      width: 100%;
      text-align: left;
    }
}





@media (max-width: 500px) {
    .allarticles .articlebox {
      width: 100%;
    }
}