<!DOCTYPE html>

<html>
    <head>
        <title>Cubix Research</title>
        <link rel="stylesheet" href="/static/css/articlepage.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body>
    
      <header>
        <div class="navbar">
            
            <div class="floatright">

        
              <div class="topnav" id="myTopnav">
                  <a href="/home" class="active">Home</a>
                  <div class="dropdown">
                    <button class="dropbtn" href="/articles">Content
                      <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                      <a href="/articles">Articles</a>
                      <a href="/economicempowermentgraphics">Economic Empowerment Series</a>
                    </div>
                  </div>
                  <a href="https://open.spotify.com/show/0EUW0Ky5SR4USpPApRdn3C">Podcast</a>
                  <a href="/theteam">The Team</a>
                  <a href="/contact">Contact</a>
                  <a href="javascript:void(0);" class="icon" onclick="myFunction()" ">&#9776;</a>
                </div>
      
             </div>
             <div class="logo">
              <img src="/static/images/thecubixlogo.png">
            </div>
        </div> 
        </header>
  
        <main>
          <div class="jumbotron">
            <div class="container">  
              <h1>Articles</h1>
            </div>
          </div>
        </main>

      <section class="allarticles">
        <div class="articlecontainer" id="wrap">
          
          <div class="articlebox">
            <img src="/static/images/coverimageforglobalization.png">
            <h2>The Relationship Between Globalization and Economic Inequality</h2>
            <h3>By: <strong>Sheyan Lalmohammed</strong> on <strong>January 23, 2022</strong></h3>
            <p>The world is moving extremely quickly. Faster than ever before. The result has been that in the last decade, there has been an increase in globalization through many platforms. Economic globalization, political globalization, and cultural globalization have changed the way the international community interacts with one another.</p>
            <a href="/2022/01/23/the-relationship-between-globalization-and-economic-inequality">Read Here</a>
          </div>

          <div class="articlebox">
            <img src="/static/images/coverimageforclimatechangetwo.webp">
            <h2>Climate Change Affecting Economic Inequality: Developing Countries</h2>
            <h3>By: <strong>Sheyan Lalmohammed</strong> on <strong>December 20, 2021</strong></h3>
            <p>Arguably, the effects of climate change are a lot more detrimental to the economies of these nations which have yet to develop a stable form of output for their citizens to increase their quality of life. The effects of climate change and carbon outputs could permanently stifle the progress of these countries from the last half-century.</p>
            <a href="/2021/12/20/climate-change-affecting-economic-inequality-developing-countries">Read Here</a>
          </div>
         
          <div class="articlebox">
            <img src="/static/images/coverimageclimatechangeone.png">
            <h2>Economic Inequality Caused by Climate Change: Developed Countries</h2>
            <h3>By: <strong>Sheyan Lalmohammed</strong> on <strong>November 14, 2021</strong></h3>
            <p>Climate change is widely regarded as one of the most pressing issues on the planet. Unsurprisingly, there have been mounds and mounds of legislation passed trying to combat this looming problem. Also unsurprisingly, climate change has only increased within the last decade and though countries have promised to reduce emissions to near zero within the next two decades, many scientists think, and rightfully so, that there is a very unlikely chance that this happens with increasing globalization. This globalization has been impacted by climate change in hundreds of ways, but today I want to talk about how its relations to climate change has created and continues to contribute to economic inequality on a global scale.</p>
            <a href="/2021/11/14/economic-inequality-caused-by-climate-change-developed-countries">Read Here</a>
          </div>

          <div class="articlebox">
            <img src="/static/images/coverimageincomemobility.jpeg">
            <h2>Intergenerational Income Mobility Affecting Wealth Inequality</h2>
            <h3>By: <strong>Sheyan Lalmohammed</strong> on <strong>November 2, 2021</strong></h3>
            <p>Intergenerational Income Mobility is a term that refers to the ability of an individual to change their position within an economic standpoint during their lifetime. Basically, this idea indicates whether economic circumstances make it more difficult or easier for an individual to move up into higher-income spaces over the course of their lifetime. It also indicates the ability of individuals in an economy to establish independence from one another and familial relationships that would indicate long-term hardships to change income and social classes. The fact that a highly mobile society can be one that contributes positively to the scope of wealth inequality makes it a relevant topic to discuss when it comes to this issue.</p>
            <a href="/2021/11/02/intergenerational-income-mobility-affecting-wealth-inequality">Read Here</a>
          </div>

          <div class="articlebox">
            <img src="/static/images/coverimageinvesting.webp">
            <h2>Equal Investment Opportunity to Balance Economic Opportunity</h2>
            <h3>By: <strong>Sheyan Lalmohammed</strong> on <strong>August 13, 2021</strong></h3>
            <p>The opportunity of investment is the last portion of the broad solution that is left to be described and discussed. This is easily the greatest portion of restructuring needed in order to deal with unproportionate amounts of investment opportunity and detail. The truth is that there exists an easier and more efficient investment process for those with a greater expendable income, meaning that a proportionate relation exists between the total investment done by an individual annually when compared to their annual income. This problem not only logically exists, but statistically, it is easy to break down the fact that there is a gap in which breaking out of average middle class living conditions, allows for greater financial security with the increase in investment that occurs.</p>
            <a href="/2021/08/13/equal-investment-opportunity-to-balance-economic-opportunity">Read Here</a>
          </div>

          <div class="articlebox">
            <img src="/static/images/coverimagebroadsolutiontwo.png">
            <h2>The Broad Solution to Solving Wealth Inequality: The Pathway</h2>
            <h3>By: <strong>Sheyan Lalmohammed</strong> on <strong>July 21, 2021</strong></h3>
            <p>The solution to solving wealth inequality has taken off in the last part of the series. This is the next follow up to the original part of the broad solution which is tasked with laying out a series of steps that have to be elaborated on in order to create a timeline and step sheet that the government and businesses  could follow. The original part of the broad solution was tasked with describing setting up an organizational aspect of the solution as to how to receive extra funding and how it would be used for promotion of small businesses which would in turn increase middle class wealth. This part of the solution talks less about organization and more about the initiatives that both businesses and policy makers will have to partake in for the solution to be a complete success.</p>
            <a href="/2021/07/21/the-broad-solution-to-solving-wealth-inequality-the-pathway">Read Here</a>
          </div>

          <div class="articlebox">
            <img src="/static/images/coverimagebroadsolutionone.png">
            <h2>The Broad Solution to Solving Wealth Inequality: The Organization</h2>
            <h3>By: <strong>Sheyan Lalmohammed</strong> on <strong>June 22, 2021</strong></h3>
            <p>The solution to solving wealth inequality must be effective and efficient in order to sustainably alter the wealth and economic landscape of the nation. To complete a pure transition of wealth, the solution must be inclusive of political views and in line with policy implementation, spending limits, political authority, economic stature, financial welfare, institutional ability to meet basic needs, education policy, labor standards, job security, gender roles, racial equality, economic policy, money saturation, seperation of labor, advancement in industry, accepted working conditions, debt management, organization responsibilities, and so many other factors that have to be taken into account when thinking about changing the landscape of wealth capacity, or concentration, from one class to another.</p>
            <a href="/2021/06/22/the-broad-solution-to-solving-wealth-inequality-the-organization">Read Here</a>
          </div>

          <div class="articlebox">
            <img src="/static/images/coverimageintrowealthinequality.webp">
            <h2>Taking a NEEDED Step Towards Solving Wealth Inequality: The Introduction</h2>
            <h3>By: <strong>Sheyan Lalmohammed & Vishal Gopalakrishnan</strong> on <strong>June 15, 2021</strong></h3>
            <p>Wealth Inequality is defined as the uneven distribution of wealth across a population of people. In this case, that population of people will be the United States population. Wealth inequality comes as a part of economic inequality in which classes are created in order to categorize the growing diversion in the quality of life and standards of living. It exists severely here in the United States and it’s quite easily able to be shown in terms of practical use.</p>
            <a href="/2021/06/15/taking-a-needed-step-towards-solving-wealth-inequality-the-introduction">Read Here</a>
          </div>

          <div class="articlebox">
            <img src="/static/images/coverimageinflationarticle.png">
            <h2>The Thought of Inflation</h2>
            <h3>By: <strong>Sheyan Lalmohammed</strong> on <strong>April 9, 2021</strong></h3>
            <p>Is lots of inflation good for the economy? No. Is no inflation good for the economy? No. Do we tend to blame inflation on the government? Yes. Can it be our fault that inflation goes up and down the way it does? Maybe. This article is about how our thinking as consumers impacts the rate of inflation on both subsets of products and the overall price index. Let me Explain.</p>
            <a href="/2021/04/09/the-thought-of-inflation">Read Here</a>
          </div>

          <div class="articlebox">
            <img src="/static/images/coverimagesuezcanal.png">
            <h2>What Exactly the Ship stuck In the Suez Canal Meant to the Economy</h2>
            <h3>By: <strong>Sheyan Lalmohammed</strong> on <strong>Aprril 1, 2021</strong></h3>
            <p>There have been a number of effects from the stuck ship in the Suez Canal on global trade, development, pricing of consumer products, shortages, and the questions it raises about Globalization and its effects. These topics each cover a designated economic principle for the common citizen and therefore, though it may not have had a direct impact on people, the indirect impacts were unforeseeable, similar to the situation.</p>
            <a href="/2021/04/01/what-exactly-the-ship-stuck-in-the-suez-canal-meant-to-the-economy">Read Here</a>
          </div>

          <div class="articlebox">
            <img src="/static/images/coverimagethinkingarticle.jpeg">
            <h2>Why Choosing How We think Makes Leaps in Our Decision Making?</h2>
            <h3>By: <strong>Sheyan Lalmohammed</strong> on <strong>May 20, 2020</strong></h3>
            <p>Often times, the information we receive in our everyday life can become so cluttered that we become overwhelmed with the huge influx of information we see. With our phones lighting up with new information almost every second and a news reporter speaking in the background of almost ever waking movement, how do we learn when we should be listening in to the often muffled voices in the background? This is what I’m trying to learn. Thus, this month, I have decided to take on a challenge in the hope of increasing my intuition and learning when to “tune in”: by citing what I believe will be the 3 most prevalent events, events that will affect our future market, everyday.</p>
            <a href="#">Read Here</a>
          </div> 

          <div class="articlebox">
            <img src="/static/images/coverimageoilindustry.png">
            <h2>The Oil Industry’s Call For Help has Been Answered! Kind Of?</h2>
            <h3>By: <strong>Sheyan Lalmohammed</strong> on <strong>April 13, 2020</strong></h3>
            <p>With the beginning of COVID-19 in China came the start of the Oil Industry’s decline worldwide. This industry felt the effects of COVID-19 before the world markets started to tremble and crumple. This was largely due to the China when it began the virus, and it has began a worldwide problem. China is the world’s leading importer of oil. In January of 2020, they cut off their borders because of the flailing virus that had seen a large spike in cases throughout the country. This cut off included the limitation of the amount of oil they were importing. This left countries dependent on their oil exportation such as Saudi Arabia and Russia to keep pumping out oil despite there being less demand for it. This flooded the market with much more supply than demand bringing the price of oil crashing down.</p>
            <a href="#">Read Here</a>
          </div>  

          <div class="articlebox">
            <img src="/static/images/coverimagestockmarketinvest.jpeg">
            <h2>Opinion: Is it a Good Time to Invest in the Stock Market?</h2>
            <h3>By: <strong>Sheyan Lalmohammed</strong> on <strong>April 10, 2020</strong></h3>
            <p>We have all heard the stories of investors like Warren Buffet who became millionaires overnight when they invested in the Stock Market when no one else did. We have been dealt an interesting situation just as these investors had been when they made huge profits off taking a risk that others did not see the point of.</p>
            <a href="#">Read Here</a>
          </div>  

          <div class="articlebox">
            <img src="/static/images/coverimagechangingmarketstandard.webp">
            <h2>The Changing Market Standard Within the United States</h2>
            <h3>By: <strong>Sheyan Lalmohammed</strong> on <strong>March 30, 2020</strong></h3>
            <p>About a month and a half ago, the United States was considered one of the most powerful and stable economies on the planet as shown by its incredibly high GDP for 2019, which was the highest in the world, and its low unemployment rate as well. Now, with the emergence of COVID-19, there have been massive blows to industries and companies that perform an intricate part within the United States market structure. The question is how did it get so bad?</p>
            <a href="#">Read Here</a>
          </div>  

          <div class="articlebox">
            <img src="/static/images/coverimageplanforcovidcouldwork.png">
            <h2>Opinion: The U.S. Plan for Economic Stability during COVID-19 Could Work</h2>
            <h3>By: <strong>Sheyan Lalmohammed</strong> on <strong>March 19, 2020</strong></h3>
            <p>With COVID-19 on the loose, and the number of known cases in the U.S. alone has reached a staggering amount at above 10,000 cases and near 150 deaths. There has been widespread panic easily seen throughout the country, and the government has had little control over spread of public fear. Recently though, many businesses have shut down, and workers have been kept at home in order to slow down the pace of the virus spreading which has increased panic. This panic is not of fear of receiving the virus though, but rather running out of savings to keep oneself and their families fed and in healthy shape with little to no income coming into the home.</p>
            <a href="#">Read Here</a>
          </div>  

          <div class="articlebox">
            <img src="/static/images/coverimagestockmarketrise.png">
            <h2>The Biggest Stock Market Rise in History JUST HAPPENED?</h2>
            <h3>By: <strong>Sheyan Lalmohammed</strong> on <strong>March 1, 2020</strong></h3>
            <p>In recent news, the New York Stock Exchange has been missing trade days and the market has been on the decline for the last week or so due to fear of spread of the COVID-19. Especially within New York which has recorded the most cases within the U.S. so far. Yes, the biggest stock market rise in history just happened, but what Trump did is take credit for the huge increase as it happened during his press conference on COVID-19, and the steps that the United States Government will be taking in response to the public spread of panic that has been taking place. The market is still heavily on the decline, at least compared to how it was doing before, but it did experience this huge rise. Why?</p>
            <a href="#">Read Here</a>
          </div>  
 
          <div class="articlebox">
            <img src="/static/images/coverimageairlineindustrycrash.webp">
            <h2>World-Wide Airline Industry about to Crash! Here’s Why.</h2>
            <h3>By: <strong>Sheyan Lalmohammed</strong> on <strong>February 15, 2020</strong></h3>
            <p>Well what happens when one of the biggest modes of transportation is taken away? The Airline industry is about to be put within this position as flights around the world have been grounded due to countries locking their borders. It’s going to be chaotic, and without the movement of people, the world’s markets are about to crash at even faster rate then they are now. Especially now that the three biggest regions within the world are closing their borders.</p>
            <a href="#">Read Here</a>
          </div> 



        </div>
      </section>
      
    
    </body>


</html>

<script>
  function myFunction() {
    var x = document.getElementById("myTopnav");
    if (x.className === "topnav") {
      x.className += " responsive";
    } 
    else {
    x.className = "topnav";
    }
  }
</script>
  