<!DOCTYPE html>

<html>
    <head>
        <title>Contact Cubix</title>
        <link rel="stylesheet" href="/static/css/contact.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
      </head>

    <body>
    
      <header>
        <div class="navbar">
            <div class="floatright">

        
              <div class="topnav" id="myTopnav">
                  <a href="/home" class="active">Home</a>
                  <div class="dropdown">
                    <button class="dropbtn" href="/articles">Content
                      <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                      <a href="/articles">Articles</a>
                      <a href="/economicempowermentgraphics">Economic Empowerment Series</a>
                    </div>
                  </div>
                  <a href="https://open.spotify.com/show/0EUW0Ky5SR4USpPApRdn3C">Podcast</a>
                  <a href="/theteam">The Team</a>
                  <a href="/contact">Contact</a>
                  <a href="javascript:void(0);" class="icon" onclick="myFunction()" ">&#9776;</a>
                </div>
      
             </div>
             <div class="logo">
              <img src="/static/images/thecubixlogo.png">
             </div>
        </div> 
        </header>
  
        <main>
          <div class="jumbotron">
            <div class="container">  
              <h1>Contact Us</h1>
            </div>
          </div>
        </main>

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        
        <div class="container2">
        <div class="splitleft">
        
        <h3 style="font-size: 6mm ; color: #333; font-family:'Raleway', sans-serif">Please Complete the Form Below to Contact The Cubix</h3>
          <form action>
            <label for="fname" style="color:#333; font-family:'Raleway', sans-serif">Your Name(required)</label>
            <input type="text" id="fname" name="firstname">
        
            <label for="lname" style="color:#333; font-family:'Raleway', sans-serif">Your Email(required)</label>
            <input type="text" id="lname" name="lastname" >
        
            <label for="subject" style="color:#333; font-family:'Raleway', sans-serif">Your Message</label>
            <textarea id="subject" name="subject" style="height:200px"></textarea>
        
            <input type="submit" value="Send">
          </div>
          <div class="splitright">
            <h3 style="font-size: 4mm ; font-family:'Raleway', sans-serif ; color: #333;">BEFORE CONTACTING US</h3>
            <p style="color:#333; font-family:'Raleway', sans-serif " >
                Please take a look at our various pages and sources of information. It is likely that if you have an answer to a question, the article page will have a place where you can submit your questions, and the author can respond directly. If you would like to work with The Cubix, now or in the future, feel free to fill out the form above and mention the name of you or your company along with a short summary of what you would like to do with The Cubix. If you are interested in writing or working for The Cubix, feel free to express your interest and we will reach out to you with more information. Thank you!
            </p><br>
        
            <h3 style="font-size: 4mm ; font-family:'Raleway', sans-serif ; color: #333;">CONTACT INFORMATION</h3>
            <p style="color:#333; font-family:'Raleway', sans-serif ;line-height: 230%" >
                
                Houston, Texas-United States<br/>
                <i style="font-size:15px; color:#333;" class="fa">&#xf095;</i> &nbsp&nbsp +1 (281) 908-1295<br/>
                <i style="font-size:15px ;color: #333 " class="fa">&#xf0e0;</i>&nbsp&nbsp thecubixresearch@gmail.com<br/>
                <i style="font-size:15px; color: #333;" class="fa">&#xf017;</i>&nbsp&nbsp Business Schedule (Monday-Friday 9:00AM to 5:00PM)
                
            </p>
        
          </div>
          </div>
          </form> 
       
        
        
        
        
        <footer>
            <div class="container">
              <p>&copy; The Cubix 2022</p>
            </div>
          </footer>
    
    </body>


</html>

<script>
  function myFunction() {
    var x = document.getElementById("myTopnav");
    if (x.className === "topnav") {
      x.className += " responsive";
    } 
    else {
    x.className = "topnav";
    }
  }
</script>
  