<!DOCTYPE html>
<html>
    <head>
        <title>The Cubix</title>
        <link rel="stylesheet" href="/static/css/home.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
      <header>
      <div class="navbar">
          
          <div class="floatright">

        
            <div class="topnav" id="myTopnav">
                <a href="/home" class="active">Home</a>
                <div class="dropdown">
                  <button class="dropbtn" href="/articles">Content
                    <i class="fa fa-caret-down"></i>
                  </button>
                  <div class="dropdown-content">
                    <a href="/articles">Articles</a>
                    <a href="/economicempowermentgraphics">Economic Empowerment Series</a>
                  </div>
                </div>
                <a href="https://open.spotify.com/show/0EUW0Ky5SR4USpPApRdn3C">Podcast</a>
                <a href="/theteam">The Team</a>
                <a href="/contact">Contact</a>
                <a href="javascript:void(0);" class="icon" onclick="myFunction()" ">&#9776;</a>
              </div>
    
           </div> 

           <div class="logo">
            <img src="/static/images/thecubixlogo.png">
           </div>
      </div> 
      </header>


        <main>
          <div class="jumbotron">
            <div class="container">  
              <h1>Economics + A Passion For Social Change</h1>
              <a href="/articles" class="btn-main">Read an Article</a>
            </div>
          </div>
        </main>

        <section class="information">
            <div class="container2">

                <div class = "halfscreenimage">
                  <img>  
                </div>

                <div class = "halfscreenbox">
                    <div class = "textcontainer">
                        <h2>WHAT IS THE CUBIX?</h2>
                        <h4><em>ABOUT US</em></h4>
                        <p>The Cubix is a Nonprofit News and Research Organization dedicated to using behavioral sciences and economics to incorporate public and private policy changes to ensure a better quality of life for everyone.</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="information2">
            <div class="container2">

                <div class = "halfscreenbox">
                    <div class = "textcontainer">
                        <h4><em>MORE ABOUT US?</em></h4>
                        <h2>WHY CUBIX?</h2>
                        <p>The Cubix’s name comes from the impact it hope to leaves on its. The team at The Cubix wants our audience to better understand the complexity of the economic world. Therefore, we decided to name our organization behind the defining aspect of a cube. Every cube has six distinct sides, yet they all come together to create a shape that looks the same from every angle. This is the same for the global community. Every community, country, and individual person may be different but no matter how we look at it, there is a single global community. That is The Cubix!</p>
                    </div>
                </div>

                <div class = "halfscreenimage">
                  <img>  
                </div>


            </div>
        </section>
    
        <section class="supporting">
          <div class="container2">
        
            <div class="col">
              <img src="/static/images/personvector.png">
              <h2>Audience Reached</h2>
              <p>80,000 Total Viewers to date who span the United States and Canada</p>
              <a href="#"> Learn More</a><br>
            </div>
            
            <div class="col">
              <img src="/static/images/searchglass.png">
              <h2>Views</h2>
              <p>With a little over 630,000 Views, Cubix has a long lasting impact on all of our readers</p>
              <a href="#"> Learn More</a><br>
            </div>
            
          </div>
          </section>
          
        <section class="information3">
          <div class="container2">

            <div class="halfscreenimage">
              <img>
            </div>

            <div class = halfscreenbox>
              <div class = "textcontainer">
                <h4><em>The Commitment to Progress</em></h4>
                <h2>100% of Contributions go to Charity</h2>
                <p>All funds received by The Cubix in the form of payments and donations from the supporting community and private parties will be used to donate to institutions and organizations dedicated to increasing the economic wellbeing of communities in the United States or around the globe</p>
              </div>  
            </div>

          </div>
        </section>

        <section class="information4">
         
          <div class="halfscreenbox">
            <div class="textcontainer">
              <h4><em>100% Clear Financials</em></h4>
              <h2>25% of Web-Based Income is used to build The Cubix Network</h2>
              <p>While 75% of our Ad and Click Revenues are donated to economic Non-Profits, The Cubix uses 25% of its profits to maintain its website, competitive online presence, and expansion through SEO marketing. The Cubix’s end goal is to create as large of an impact on an audience interested in economics and using a portion of income to invest back within our network allows us to do this. </p> 
            </div>
          </div>

          <div class="halfscreenimage">
            <img>
          </div>

        </section>
        <footer>
          <div class="container">
            <p>&copy; The Cubix 2022</p>
          </div>
        </footer>
        
      </body>
</html>

<script>
  function myFunction() {
    var x = document.getElementById("myTopnav");
    if (x.className === "topnav") {
      x.className += " responsive";
    } 
    else {
    x.className = "topnav";
    }
  }
</script>
  