<!DOCTYPE html>
<html>
<head>
    <title>Cubix Research</title>
    <link rel="stylesheet" href="/static/css/intergenerationalincomemobilityaffectingwealthinequality.css">
</head>
<body>
    <header>
        <div class="navbar">
            <div class="floatright">
              <div class="topnav" id="myTopnav">
                  <a href="/home" class="active">Home</a>
                  <div class="dropdown">
                    <button class="dropbtn" href="/articles">Content
                      <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                      <a href="/articles">Articles</a>
                      <a href="/economicempowermentgraphics">Economic Empowerment Series</a>
                    </div>
                  </div>
                  <a href="https://open.spotify.com/show/0EUW0Ky5SR4USpPApRdn3C">Podcast</a>
                  <a href="/theteam">The Team</a>
                  <a href="/contact">Contact</a>
                  <a href="javascript:void(0);" class="icon" onclick="myFunction()" ">&#9776;</a>
                </div>
      
             </div> 
             <div class="logo">
              <img src="/static/images/thecubixlogo.png">
             </div>
        </div> 
     </header>


        <main>
            <div class="jumbotron">
              <div class="container">  
                <h1 id="changesize">“Intergenerational Income Mobility Affecting Wealth Inequality</h1>
              </div>
            </div>
          </main>
         
       
        <div class="container2">
            <div class="article">
                <div style="border:medium solid black">
                  <h1 style="text-align:center;">intergenerationalincomemobilityaffectingwealthinequality</h1>
                  <h2 style="text-align: center; font-weight: 400;"><em>By: Sheyan Lalmohammed on November 2 2021</em></h2>
                </div>
                <br>
                <h2>Introduction</h2>

              </div>



        </div>
          
          
          
        <footer>
              <div class="container">
                <p>&copy; The Cubix 2022</p>
              </div>
        </footer>
</body>
</html>



<script>
    function myFunction() {
      var x = document.getElementById("myTopnav");
      if (x.className === "topnav") {
        x.className += " responsive";
      } 
      else {
      x.className = "topnav";
      }
    }
  </script>