<!DOCTYPE html>

<html>
    <head>
        <title>Cubix Team</title>
        <link rel="stylesheet" href="/static/css/theteam.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body>
    
      <header>
        <div class="navbar">
            <div class="floatright">
   
              <div class="topnav" id="myTopnav">
                  <a href="/home" class="active">Home</a>
                  <div class="dropdown">
                    <button class="dropbtn" href="/articles">Content
                      <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                      <a href="/articles">Articles</a>
                      <a href="/economicempowermentgraphics">Economic Empowerment Series</a>
                    </div>
                  </div>
                  <a href="https://open.spotify.com/show/0EUW0Ky5SR4USpPApRdn3C">Podcast</a>
                  <a href="/theteam">The Team</a>
                  <a href="/contact">Contact</a>
                  <a href="javascript:void(0);" class="icon" onclick="myFunction()" ">&#9776;</a>
                </div>
      
             </div>
             <div class="logo">
              <img src="/static/images/thecubixlogo.png">
             </div>
        </div> 
        </header>
       
        <main>
          <div class="jumbotron">
            <div class="container">  
              <h1>The Cubix Team</h1>
            </div>
          </div>
        </main>

        <div class="container2">
          <div class="nameandimage">
            <img src="/static/images/personimagesheyanlalmohammed.png">
            <h2>Sheyan Lalmohammed</h2>
            <h2>Founder/Lead Journalist & Researcher</h2>
            <h3>Email: sheyanlalmohammed@thecubix.org</h3>
            <h3>Phone Number: (281) 908-1295</h3>
            <a href="#">Full Portfolio</a><br>
          </div>

          <div class="biographyandinterests">
            <p>Hi everyone! I’m Sheyan, and I am a super passionate high school senior who has been studying economics for the last 6 years. I have received honors from the Youth Economic Council and Harvard University’s Economics Association for my writing in the field of economics. During this time, I have come to learn a lot about the subject (particularly in the subject of economic inequality), so I created The Cubix as a platform to share my passion with the world while giving others with a similar interest to do the same! I hope you can learn something new from what I write. Also, along with economics, I am super interested in computer science and assist with the web development for The Cubix!</p>
            <h2>Research Interests</h2>
            <div class="specificresearchInterests">
              <h3>Economic Inequality</h3>
              <h3>Applicable Statistics</h3>
              <h3>Financial Economics</h3>
              <h3>Infrastructure Development</h3>
            </div>
          </div>  
        </div>
        
        <div class="container2">
          <div class="nameandimage">
            <img src="/static/images/personimagenathanlam.png">
            <h2>Nathan Lam</h2>
            <h2>Youth Journalist & Researcher</h2>
            <h3>Email: nathansplam@gmail.com</h3>
            <h3>Phone Number: (346) 317-9414</h3>
            <a href="#">Full Portfolio</a><br>
          </div>

          <div class="biographyandinterests">
            <p>Hi, I’m Nathan and I am one of the journalists for The Cubix. I have a super big interest in Web 3.0 and I hope to use it in order to show the economic effects of our rapidly evolving digitizing economy. I also want to use this platform as a way of introducing new concepts and incorporating my own opinion on how to build this new digitized business movement.</p>
            <h2>Research Interests</h2>
            <div class="specificresearchInterests">
              <h3>Web 3.0</h3>
              <h3>Fintech</h3>
              <h3>Financial Economics</h3>
              <h3>Economics + Technology</h3>
            </div>
          </div>  
        </div>
        
        <div class="container2">
          <div class="nameandimage">
            <img src="/static/images/personimagehannamohaweche.png">
            <h2>Hanna Mohaweche</h2>
            <h2>Audience and Engagement Manager</h2>
            <h3>Email: hannamoha18@gmail.com</h3>
            <h3>Phone Number: (713) 472-9995</h3>
            <a href="/economicempowermentgraphics">Full Portfolio</a><br>
          </div>

          <div class="biographyandinterests">
            <p>Welcome to Cubix, I’m Hanna Mohaweche, the audience engagement manager for the economic nonprofit organization. I also contribute as one of the youth journalists/researchers when possible. I’m currently a sophomore at Stephen F. Austin High School and gaining experience as I go. Personally, marketing and business management are both things I’m looking to major in along with journalism. I use my platform in Cubix to discuss economic current events that will hopefully bring awareness to others on economic issues. You are the economic priority and it is important for me to help you get educated on these topics with things even as little as infographics.</p>
            <h2>Creation Interests</h2>
            <div class="specificresearchInterests">
              <h3>Economic Empowerment</h3>
              <h3>Personal Finance</h3>
              <h3>Access to Resources</h3>
              <h3>Community Development</h3>
            </div>
          </div>  
        </div>
       
        <div class="container2">
          <div class="nameandimage">
            <img src="/static/images/personimagearufali.png">
            <h2>Aruf Ali</h2>
            <h2>Associate Web Developer</h2>
            <h3>Email: aruf2003@gmail.com</h3>
            <h3>Phone Number: (346) 233-9895</h3>
            <a href="#">Full Portfolio</a><br>
          </div>

          <div class="biographyandinterests">
            <p>Hey Cubix Audience. My name is Aruf and I am the official Web Developer for The Cubix. I take the lead, along with Sheyan, on new web expansion as well as keeping our site up to date. I plan on studying Computer Science at the University of Texas at Austin. In the future, I plan on continuing my good work with The Cubix and working as a software engineer or a professional web developer.</p>
            <h2>Development Interests</h2>
            <div class="specificresearchInterests">
              <h3>HTML and CSS</h3>
              <h3>JavaScript</h3>
              <h3>Flask with Python</h3>
              <h3>Web Expansion</h3>
            </div>
          </div>  
        </div>



        <footer>
            <div class="container">
              <p>&copy; The Cubix 2022</p>
            </div>
          </footer>
    
    </body>


</html>

<script>
  function myFunction() {
    var x = document.getElementById("myTopnav");
    if (x.className === "topnav") {
      x.className += " responsive";
    } 
    else {
    x.className = "topnav";
    }
  }
</script>
  